html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
}

#container {
    position: relative;
    width: 100%;
    min-height: 98.7%;
    background: rgb(36, 33, 33);
    padding-top: 10px;
    margin: 0;
}
#add-person-btn {
    position: fixed;
    height: 9vh;
    width: 9vh;
    right: 10px;
    top: 88%;
    z-index: 1000;
}

#add-person-img {
    padding-top: 4px;
    padding-right: 14px;
    height: 7.5vh;
}

.person-entry {
    background: lightgray;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

#person-list {
    padding-top: 1px;
    position: relative;
    width: 96vw;
    left: 2vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 Spalten */
    gap: 10px; /* Abstand zwischen den Boxen */
}

.settings-btn {
    position: relative;
    background: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    height: 35px;
    left: 38%;
    top: -82%;
}

.edit {
    background-color: lightgray; /* Grüner Hintergrund */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; 
    padding-top: 10px;
    width: 96vw;
    margin-bottom: 10px;
    border-radius: 4px;
    padding-bottom: 3px;
}

.edit-btn {
    position: absolute;
    width: 43%;
    height: 225px;
}

.edit-row {
    display: flex;
    justify-content: center; 
    gap: 10px;            
    margin-bottom: 10px;     
}

.eform {
    flex: 1;                 
    min-width: 120px;
    max-width: 40vw;
    height: 3vh;
    border-radius: 2px; 
    border: none;
    padding: 4px;
    font-size: 14px;
    text-align: left;
}

#submit-btn, #edit-btn {
    display: block;          /* place on a new line */
    margin: 0 auto 10px auto; /* center button and add bottom margin */
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit-btn{
    background-color: #4CAF50; /* Green */
    color: white;
}

#edit-btn {
    background-color: #008CBA; /* Blue */
    color: white;
}

@media (min-width: 700px) {
    #person-list {
        grid-template-columns: repeat(3, 1fr); /* change to 3 columns */
    }
    .edit-btn {
    position: absolute;
    width: 31%;
    height: 200px;
}
}